@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900display=swp');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

p {
    font-weight: 300;
    color: #111;
}

#preloader {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

#status {
    background-image: url("..//images/loader.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

.banner {
    opacity: 6;
    filter: alpha(opacity=100);
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('..//images/bg.jpg') center/cover;
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-size: 3em;
    color: #fff;
}

.banner .content p {
    font-size: 1em;
    color: #fff;
}

.btn {
    font-size: 1em;
    color: #fff;
    background: rgb(119, 166, 39);
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 50px;
}

.btn:hover {
    letter-spacing: 6px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;

}

header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

header.sticky .logo {
    color: #111;
}

header.sticky .navigation li a {
    color: #111;
}

.navigation {
    color: #111;
    margin-top: 20px;
}

header .navigation li a:hover {
    color: rgb(119, 166, 39);
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header .logo span {
    color: #ff0157;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin: 30px;
}

header .navigation li a {
    text-decoration: none;
    font-weight: 300;
    color: #fff;
}

section {
    padding: 100px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col150 {
    position: relative;
    width: 48%;
}

.titletext {
    color: #111;
    font-size: 2em;
    font-weight: 300;

}

h2 span {
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}

.row .col150 .imgBx {
    position: relative;
    width: 100%;
    /* min-height: 300px; */
    height: 100%;
}

.row .col150 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Expert */
.expert .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.expert .content .box {
    width: 250px;
    margin: 15px;
}

.expert .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.expert .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expert .content .box .text {
    padding: 15px 0 5px;
}

.expert .content .box .text h3 {
    font-weight: 400;
    color: #111;
}

.testimonial {
    background: url("..//images/bg2.jpg") center/cover;
}

.white .titletext,
.white p {
    color: #fff;

}

#menuwalaancor {
    margin-left: 200px!;
    font-size: 35px!;
    font-weight: bolder!;
    text-decoration: none!;
    color: white!;
    line-height: 110px!;
}

.testimonial .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 40px;
}

.testimonial .content .box {
    width: 310px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.testimonial .content .box .imgBx {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial .content .box .imgBx img {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial .content .box .text {
    text-align: center;
}

.testimonial .content .box p {
    color: #666;
    font-style: italic;
}

.testimonial .content .box h3 {
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: rgb(119, 166, 39);
    font-weight: 600;
}

.contact {
    background: url("..//images/bg3.jpg") center/cover;
}

.contactForm {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-top: 50px;

}

.contactForm h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;

}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 3%;

}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    border: 1px solid #555;
    resize: none;
    color: #111;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    border-radius: 3%;

}

.contactForm .inputBox input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: rgb(119, 166, 39);
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.copyrightText {
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.copyrightText p {
    color: #333;

}

.copyrightText a {
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}

/* MAP */
#map {
    height: 600px;
    width: 100%;
}

@media (max-width:991px) {

    header,
    header.sticky {
        padding: 10px 20px;
    }

    header .navigation {
        display: none;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url('..//images/menu.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header .navigation.active {
        width: 100%;
        height: calc(100% -68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navigation li {
        list-style: none;
        margin-left: 0;
    }

    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }


    .menuToggle.active {
        background: url('..//images/close.png');
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle {
        filter: invert(1);
    }

    section {
        padding: 20px;
    }

    .banner .contact h2 {
        font-size: 3em;
        color: #fff;
    }

    .row {
        flex-direction: column;
    }

    .row .col150 {
        position: relative;
        width: 100%;
    }

    .row .col150 .imgBx {
        height: 300px;
        margin-top: 20px;
    }

    .menu .content {
        margin-top: 20px;
    }

    .menu .content .box {
        margin: 10px;
    }

    .menu .content .box .imgBx {
        height: 260px;
    }

    .title {
        text-align: center;
    }

    .titletext {
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }

    .testimonial .content .box {
        margin: 10px;
        padding: 20px;
    }

    .contactForm {
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    @media (max-width:480px) {
        .banner .content h2 {
            font-size: 2.2em;
            color: #fff;
        }
    }

}